* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    color:black;
    border: none;
    text-decoration: none;
}

button {
    background: none;
    border: none;
}
/* #####헤더영역##### */
.header {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;;
    border-bottom: #ddd 1px solid;
}

.wrap_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    height: 80px;
}

.hd_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
}

.menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_list li{ 
    /* float: left; */
    margin: 0 20px;
    padding:10px;
    /* text-align: center; */
    list-style: none;
}

.menu_list li a  {
    letter-spacing: 0.5px;
}

.menu_list li a:link, .menu_list li a:visited, .menu_login li a:link, .menu_login li a:visited{
    text-decoration: none;
    color: #000;
}

.menu_list li:hover a {
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0;
}

.hd_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height:100%;
}

.menu_login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_login li {
    list-style: none;
    padding: 5px;
}
.menu_login li a { 
    letter-spacing: 1px;
}


/* #####푸터영역##### */

.footer {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 24px 0;
}

.footer .footer_wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer_wrap .footer_info ul {
    display: flex;
    flex-wrap: wrap;
}



/* #####공통##### */




/* #####컨텐츠영역##### */


section{
    width: 100%;
}

section .wrap_content {
    width: 1200px;
    margin: 0 auto;
}

.wrap_content h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}

.main {
    padding: 80px 0 60px 0;
}

.main_visual {
    position: relative;
}

.main_visual img {
    width: 100%;
}

.main_visual_text {
    position: absolute;
    max-width: 1200px;
    top: 78px;
    left: 350px;
}

.main_visual #main_title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 32px;

}

.main_visual #main_text {
    font-size: 18px;
    font-weight: 500;
    color: #666;
    line-height: 1.5;
    margin-bottom: 32px;

}

.main_visual .main_button {
    display: inline-block;
    border: #222222 1px solid ;
    padding: 8px 32px 8px 28px;
}

.main_visual .main_button p { 
    font-weight: 400;
}

.main_visual .main_button p::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #222222;
    border-right: 1px solid #222222;
    display: inline-block;
    transform: rotate(45deg);
}

.main_visual .main_button:hover {
    background: #222222;
    color: #fff;
}

.main_visual .main_button:hover p::after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.content {
    margin-bottom: 60px;
}


.content_01 .new_product_list {
    display: flex;
    justify-content: space-between;
}

.content_01 .new_product {
    display: inline-block;
    position: relative;
}

.content_01 .product_hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #22222280 ;
}

.content_01 .new_product_01:hover .product_hover{
    display: block;
}


.content_01 .product_hover .product_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
    text-shadow: 2px 2px 2px #00000080;
}

.content_01 .product_hover .product_text h3 {
    margin-bottom: 24px;
}

.content_01 .product_hover .np_button {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    display: inline-block;
    border: #fff 1px solid ;
    padding: 8px 32px 8px 28px;
}

.content_01 .product_hover .np_button p{
    font-weight: 400;
}

.content_01 .product_hover .np_button p::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: inline-block;
    transform: rotate(45deg);
}

.content_01 .product_hover .np_button:hover {
    background: #fff;
    color: #222;
    text-shadow: none;
}

.content_01 .product_hover .np_button:hover p::after {
    border-top: 1px solid #222;
    border-right: 1px solid #222;
}

.content_02 {
    display: inline-block;
}

.content_02 .best_product ul {
    display: flex;
    justify-content: space-between;
}

.content_02 .best_product li {
    position: relative;
}


.content_02 .best_product .bp_img {
    position: relative;
    line-height: 0;
}


.content_02 .bp_img .product_hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #22222280 ;
}

.content_02 .product_hover img {
    position: absolute;
    right: 4%;
    top: 4%;
}

.content_02 .bp_img:hover .product_hover{
    display: block;
}


.content_02 .product_info {
    margin-top: 8px;
}

.content_02 .product_info p {
    font-weight: 900;
}

.content_02 .info {
    font-size: 14px;
    float: left;
    color: #999999;
}

.content_02 .price {
    font-size: 14px;
    float: right;
    font-weight: bold;
}


.content_03 {
    display: inline-block;
    width: 100%;
    background: #EEEDE5;
    padding: 60px 0;
}

.content_03 li div {
    float: left;
}

.content_03 .gift h2 {
    text-align: left;
} 

.content_03 .gift li {
    display: flex;
    justify-content: space-between;
}

.content_03 .gift_01_text { 
    width: 46%;
    word-break: keep-all;
    margin-left: 24px;
}

.content_03 .gift_01_text h3 {
    margin-bottom: 8px;
}

.content_03 .gift_01_text span {
    display: block;
    color: #999999;
    font-size: 16px;
    margin-bottom: 32px;
}

.content_03 .gift_01_text .gift_button{
    display: inline-block;
    border: #222222 1px solid ;
    padding: 8px 32px 8px 28px;
}

.content_03 .gift_01_text .gift_button p{
    font-weight: 400;
}

.content_03 .gift_01_text .gift_button p::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 1px solid #222222;
    border-right: 1px solid #222222;
    display: inline-block;
    transform: rotate(45deg);
}

.content_03 .gift_01_text .gift_button:hover {
    background: #222222;
    color: #fff;
}

.content_03 .gift_01_text .gift_button:hover p::after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.content_04 .insta ul {
    display: flex;
    justify-content: space-between;
}

.content_04 .insta li {
    position: relative;
}

.content_04 .insta_hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #22222280 ;
}

.content_04 .insta_img {
    line-height: 0;
}

.content_04 .insta_hover img {
    line-height: 0;
    position: absolute;
    top: 4%;
    right: 4%;
}

.content_04 .insta li:hover .insta_hover {
    display: block;
}



.content_05 {
    display: inline-block;

}

.content_05 .store_list {
    width: 23%;
    float: left;
}

.content_05 .store_info { 
    display: inline-block;
    width: 100%;
    padding: 16px 24px ;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.content_05 .store_info div {
    text-align: center;
}

.content_05 .store_info h3{
    margin-bottom: 16px;
    font-size: 20px;
    color: #999;
}

.content_05 .active h3{
    color: #222;
}

.content_05 .store_info:hover h3{
    color: #222;
}

.content_05 .store_info p {
    color: #999999;
    font-size: 16px;
    word-break: keep-all;
    margin-bottom: 4px;
}

.iframe {
    float: right;
    width: 75%;
    height:556px;
}

.iframe > iframe {
    position: absolute;
}

.zindex {
    z-index: 999;
}