* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    color:black;
    border: none;
    text-decoration: none;
}

.header {
    width: 100%;
    float: left;
    position: fixed;
    background: #fff;
    z-index: 999;;
}

.wrap_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
}


.menu_list li{ 
        float: left;
        margin: 0 20px;
        text-align: center;
        box-sizing: border-box;
    }

.menu_list li a  {
    margin-left: 20px;
}

.menu_list li a:hover {
    font-weight: 900;
}



.menu_login li {
    float: left;
}




/* #####컨텐츠영역##### */


section{
    width: 100%;
}

section .wrap_content {
    width: 1200px;
    margin: 0 auto;
}

.wrap_content h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}

.main {
    padding-top: 80px;
}

.main_visual {
    position: relative;
}

.main_visual_text {
    position: absolute;
    max-width: 1200px;
    top: 78px;
    left: 350px;
}

.main_visual #main_title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 24px;

}

.main_visual #main_text {
    font-size: 18px;
    font-weight: 500;
    color: #666;
    line-height: 1.5;

}

.content {
    padding: 40px 0;
}

.content_01 .new_product {
    margin: 0 -24px;
}

.content_01 .new_product a {
    display: inline-block;
    margin: 0 12px;
}

.content_02 {
    display: inline-block;
}

.content_02 .best_product {
    margin: 0 -24px;
}

.content_02 .best_product li {
    float: left;
    margin: 0 12px;
}


.content_02 .product_info {
    margin-top: 8px;
}

.content_02 .product_info p {
    font-weight: 900;
}

.content_02 .info {
    font-size: 14px;
    float: left;
    color: #999999;
}

.content_02 .price {
    font-size: 14px;
    float: right;
    font-weight: bold;
}

.content_03 {
    width: 100%;
    background: #EEEDE5;
}



.content_03 .gift_01_text { 
    width: 50%;
}

.content_04 .insta {
    display: inline-block;
    margin: -24px;
}

.content_04 .insta li {
    float: left;
    margin: 0 12px;
}