* { margin: 0px;
    padding: 0px;}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: inline-block;
    width: 100%;
    float: left;}

.logo {
    float: left;
}

.menu_list {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.menu_list li{ 
        float: left;
        margin: 0 20px;
    }

.menu_login {
    float: right;
}


.menu_login li {
    float: left;
}