* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    color:black;
    border: none;
    text-decoration: none;
}

button {
    background: none;
    border: none;
}
/* #####헤더영역##### */
.header {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;;
    border-bottom: #ddd 1px solid;
}

.wrap_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    height: 80px;
}

.hd_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
}

.menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_list li{ 
    /* float: left; */
    margin: 0 20px;
    padding:10px;
    /* text-align: center; */
    list-style: none;
}

.menu_list li a  {
    letter-spacing: 0.5px;
}

.menu_list li a:link, .menu_list li a:visited, .menu_login li a:link, .menu_login li a:visited{
    text-decoration: none;
    color: #000;
}

.menu_list li:hover a {
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0;
}

.hd_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height:100%;
}

.menu_login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_login li {
    list-style: none;
    padding: 5px;
}
.menu_login li a { 
    letter-spacing: 1px;
}


/* #####푸터영역##### */

.footer {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 24px 0;
}

.footer_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
}

.footer_wrap ul {
    display: inline-block;
    width: 86%;
}

.footer_wrap .footer_info a p {
    font-weight: 600;
    font-size: 13px;
    color: #222222;
}

.footer_wrap .footer_info li {
    float: left;
    font-size: 14px;
    color: #999999;
}

.footer_wrap .footer_info p {
    display: inline-block;
    font-size: 14px;
    color: #999999;
}


/* #####컨텐츠영역##### */


section{
    width: 100%;
}

section .wrap_content {
    width: 1200px;
    margin: 0 auto;
}

.wrap_content h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}

.sub_main {
    display: flex;
    justify-content: center;
    padding: 120px 0 24px 0;
}

.main_visual {
    position: relative;
}

.main_visual img {
    max-width: 1200px;
}

nav .wrap_content { 
    max-width: 1200px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .wrap_content ul { 
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 48px;
}

nav .warp_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
}

.location_cate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-bottom: 60px;
}

.location_cate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location_cate li{ 
    width: 33.3%;
    padding:10px;
    text-align: center;
    list-style: none;
}

.location_cate li {
    border-right: 1px solid #ddd;
    content: "";
}

.location_cate li:last-child {
    border: none;
}

.location_cate li a  {
    letter-spacing: 0.5px;
}

.location_cate li:hover a {
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0;
}

.location_box {
    display: inline-block;
}

.location_box:first-child {
    margin-bottom: 60px;
}

.location_box img {
    width: 66%;
    float: left;
}

.location_box .location_info { 
    float: left;
    margin-left: 24px;
}

.location_box .location_info .loca_name{ 
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
}

.location_box .location_info .loca_add,.loca_num {
    font-size: 16px;
    color: #999999;
}

.location_box .location_info .loca_num {
    margin-bottom: 20px;
}

.location_box .location_info .loca_time {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 32px;
}

.location_box .location_info .loca_map_btn { 
    display: inline-block;
    border: 1px solid #222222;
    padding: 8px 42px;
}

.location_box .location_info .loca_map_btn:hover {
    background-color: #222222;
    color: #fff;
}

.location_box:nth-child(2) img {
    width: 66%;
    float: right;
}

.location_box:nth-child(2) .location_info { 
    float: right;
    margin-right: 24px;
    text-align: right;
}

